mixin features()
  section.features(id="features")&attributes(attributes)
    .container
      .features__wrapper
        .features__wrapper-list
            h2.features__title Some Amazing Features 
            ul.features__list 
                li EASY TO CUSTOMIZE
                li RESPONSIVE DESIGN
                li PERFECT SHOWCASE
                li APP STORE SUPPORT
        +img('content', 'phones-features', 'png', 480, 510, 'Phones')