mixin free()
  section.free(id="free")&attributes(attributes)
    .container
      .free__wrapper
        h2.free__title Get it for Free
        p.free__description Choose your native platform and download the app FREE!
        .free__wrapper-links 
            a(href="#" target="_blank" download).free__google Google Play
            a(href="#" target="_blank" download).free_ios IOS App Store 
