mixin intro()
  section.intro(id="intro")&attributes(attributes)
    .container
      .intro__wrapper
        h1.intro__title Showcase your App with
          span  APPBIES
        p.intro_title Proin scelerisque fringilla magna bibendum dui tempor velnteger
        a(href="#" download) Download
