mixin why-choose()
  section.why-choose(id="why-choose")&attributes(attributes)
    .container
      .why-choose__wrapper
        h2.why-choose__title Why Choose AppBies 
        p.why-choose__description Choose your native platform and download the app FREE! copy
        ul.why-choose__list 
            li.why-choose__item 
                h4.why-choose__mini-title Clean code and responsive
                p.why-choose__descript 
                    | Proin scelerisque fringilla magna bibendum dui tempor 
                    | velnteger accumsan fermentum leousce viverraelnteger. 
            li.why-choose__item 
                h4.why-choose__mini-title CSS3 animations
                p.why-choose__descript 
                    | Proin scelerisque fringilla magna bibendum dui tempor 
                    | velnteger accumsan fermentum leousce viverraelnteger. 
            li.why-choose__item 
                h4.why-choose__mini-title Gorgeous design
                p.why-choose__descript 
                    | Proin scelerisque fringilla magna bibendum dui tempor 
                    | velnteger accumsan fermentum leousce viverraelnteger. 
        +img('content', 'phone-why', 'png', 281, 588, 'Phone why choose')
        ul.why-choose__list
            li.why-choose__item 
                h4.why-choose__mini-title Easy to customize
                p.why-choose__descript 
                    | Proin scelerisque fringilla magna bibendum dui tempor 
                    | velnteger accumsan fermentum leousce viverraelnteger.
            li.why-choose__item 
                h4.why-choose__mini-title Express layout
                p.why-choose__descript 
                    | Proin scelerisque fringilla magna bibendum dui tempor 
                    | velnteger accumsan fermentum leousce viverraelnteger.
            li.why-choose__item 
                h4.why-choose__mini-title Easy to customize
                p.why-choose__descript 
                    | Proin scelerisque fringilla magna bibendum dui tempor 
                    | velnteger accumsan fermentum leousce viverraelnteger.