.container {
  width: 100%;
  max-width: size(1600px);
  margin: 0 auto;
  padding: 0;

  @include vp-1023 {
    max-width: 100vw;
  }

  @include vp-767 {
    max-width: 100vw;
    padding: 0 18px;
  }
}
