mixin header(headerMods, currentUrl)
  -
    const headerLinks = [
      {
        href: "features",
        text: "Features",
      },
      {
        href: "screenshot",
        text: "Screenshot",
      },
      {
        href: "about",
        text: "About",
      },
      {
        href: "team",
        text: "Team",
      },
      {
        href: "pricing",
        text: "Pricing",
      },
      {
        href: "contact",
        text: "Contact",
      },
    ]

  header.header.header--dark(class=headerMods)
    .container

      a.header__logo(href="#intro", data-move-to="intro", aria-label="Переход к началу страницы")
        +icon("logo-text", "79", "12")

      nav.main-nav
        .main-nav__wrapper
          ul.main-nav__list
            each link in headerLinks
              li.main-nav__item
                +btn({text: link.text, href: "#"+link.href, scrollTo: link.href, isFilling: true}).main-nav__link
