//- Base

include ./base/header
include ./base/footer
include ./base/modal

//- Utils

include ./utils/icon
include ./utils/img
include ./utils/picture
include ./utils/sprite

//- Modals

//- Blocks
include ./blocks/intro
include ./blocks/vacancy
include ./blocks/free
include ./blocks/features
include ./blocks/why-choose
include ./blocks/screenshots
include ./blocks/video

//- Mixins

include ./mixins/btn
include ./mixins/title
include ./mixins/text
include ./mixins/photo
